.Weather {
  border: 1px solid #dadde1;
  font-weight: 400;
  color: #333;
}

ul {
  list-style-type: none;
}

h1,
h2,
p {
  margin: 0px;
  padding: 0px;
}

sup {
  font-size: 12px !important;
}

.SearchButton {
  background-color: rgb(5, 84, 124) !important;
  color: #fff !important;
}

.CityName {
  font-size: 26px;
  line-height: 1.25em;
  font-weight: 300;
  margin: 0px;
  padding: 0px;
}

.Current {
  font-size: 18px;
  line-height: 1em;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
}

.icon {
  max-width: 80px;
  margin: 0;
  padding: 0;
}
